@mixin topMenu {

  .topMenu{
    @include advancedPosition(null,100%,10%);
    @include advancedFlex(row,flex-end,null);
    font-weight: 700;
    font-size: 1rem;
    padding-right: 6rem;
    //background-color: steelblue;
  }

  .topMenuFa{
    @include advancedFlex(row,flex-start,null);
    flex-direction: row-reverse;
  }

  .topMenuBtnCont{
    @include advancedPosition(null,null,100%);
    padding: 0 2px;
    margin-right: 2.5vw;
    @include advancedFlex(row,center,center);
    /*background-color: coral;*/
  }

  .homeBtnCont{
    pointer-events: none;
    cursor: default;
    color: $accentColor;
  }

  .menuBtn{
    @include advancedPosition(relative,100%,50%);
    @include advancedFlex(row,center,center);
    overflow: hidden;
    @include easeTrans(150ms);
    /*background-color: yellow;*/
    &::after, &::before{
      @include advancedPosition(absolute,100%,4px);
      bottom: 0;
      left: -100%;
      content: "";
      border-radius: 10px;
      background-color: $accentColor;
      @include easeTrans(150ms);
    }
    &::before{
      left: -120%;
      background-color: yellow;
    }
    &:hover{
      color: $accentColor;
    }
    &:hover::after, &:hover::before{
      left: 100%;
      transition-duration: 400ms;
    }
    &:hover::before{
      transition-delay: 130ms;
    }
  }

  .menuBtnFa{
    font-family: $secondFaFont;
  }

  .downloadBtn{
    @include advancedPosition(null,100%,null);
    padding: 0 15px;
    background-color: $accentColor;
    border-radius: 1rem;
    @include easeTrans(300ms);
    &:hover{
      background-color: #ffffff;
      color: $accentColor;
    }
    &::after, &::before{
      display: none;
    }
  }
}

@mixin  langSelector{
  .langMotherCont{
    @include advancedPosition(absolute,5rem,10%);
    @include advancedFlex(row,center,center);
    min-height: 5rem;
    top:0;
    right:2rem;
    z-index: 98;
    font-weight: 700;
    font-size: 1rem;
    //background-color: #fdf497;
  }

  .selectedLang{
    @include advancedPosition(null,100%,45%);
    @include advancedFlex(row,space-between,center);
    padding: 0 2px 0 4px;
    color: #ffffff;
    border-radius: 5px;
    border: $accentColor solid 1.5px;
    cursor: pointer;
    @include easeTrans(200ms);
    &:hover{
      background-color: #00D193;
      color:#ffffff;
    }
    &:hover .langArrow{
      transform: rotateZ(90deg);
      color:#ffffff;
    }
  }

  .langArrow{
    color: #00D193;
    font-size: 2rem;
    transform: rotateZ(0deg);
    @include easeTrans(200ms);
  }

  .langsCont{
    @include advancedPosition(absolute,100%,5rem);
    top:70%;
    padding-top: 8px;
    display: none;
    opacity: 0;
    //background-color: #EE5F4D;
  }
  .langsContDisplayer{
    opacity: 1;
    display: block;
    @include easeTrans(200ms);
  }

  .engLangSelector, .faLangSelector{
    @include advancedFlex(row,space-between,center);
    @include advancedPosition(null,100%,50%);
    //padding: 6px 12px 6px 8px;
    //margin-bottom: 8px;
    background-color: $accentColor;
    border-radius: 0 0 5px 5px;
    padding: 0 12px;
    cursor: pointer;
    @include easeTrans(200ms);
    &:hover{
      background-color: #ffffff;
      color: $accentColor;
    }
  }

  .faLangSelector{
    border-bottom: solid #ffffff 1px;
    border-radius: 5px 5px 0 0;
    font-family: $secondFaFont;
  }

  .selectedLangFa{
    font-family: $secondFaFont;
  }
}