/*    ---  Content Tables
    ---    1.imports & PreloadAni             ---
    ---    2.Body                             ---
    ---    3.Aside                            ---
    ---     3.1.TopSquare                     ---
    ---     3.2.MidSquare & HeroPic           ---
    ---     3.3.BottomSquare                  ---
    ---    4.Main                             ---
    ---      4.1.TopMenu & LangSelector       ---
    ---      4.2.FullName                     ---
    ---    5.NameConts                        ---
    ---    6.ShortBio                         ---
    ---    7.Socials                          ---
    ---    8.Logo & Logo ToolTip              ---
    ---    9.MediaQueries                     --- */

@import "configs";
@import "components";

@include preloadeAnimation;

.smallScreenBio,.hamberBtnCont{display: none;opacity: 0;}

body{
  @include advancedPosition(null,null,100vh);
  min-height: 750px;
  background: #232526;  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to left, #414345, #232526);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to left, #414345, #232526);
  overflow: hidden;
  font-family: $mainFont;
  color: #ffffff;
}

.bodyCont{
  @include advancedPosition(null,null,100%);
  display: flex;
  /*background-color: coral;*/
}

aside{
  @include advancedPosition(null,15%,null);
  min-width:250px;
  @include advancedFlex(column,null,null);
  @include easeTrans(200ms);
  /*background-color: teal;*/
}

.topSquareCont, .bottomSquareCont{
  display: block;
  @include advancedPosition(null,null,33%);
}

.topSquare, .bottomSquare{
  @include advancedPosition(null,null,100%);
  @include advancedFlex(column,center,center);
  background-color: blanchedalmond;
  background-image: url("../imgs/blueSquare.png")  ;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  filter: saturate(0%);
  font-size: 30px;
  font-weight: 200;
  @include easeTrans(500ms);
  &:hover{
    background-size: 125% 125%;
    filter: saturate(100%);
  }
}

.midSquare{
  @include advancedPosition(relative,null,34%);
  background-color: #313334;
  background-image: url("../imgs/picBGabstract.svg");
  background-repeat: no-repeat;
  background-size:  cover;
  background-position:  left;
  @include easeTrans(500ms);
  &:hover{
    background-position: center;
  }
  &:hover .heroPic{
    transform: scale(1.05,1.05) rotateZ(-5deg);
  }
}

.heroPic{
  @include advancedPosition(absolute,130%,null);
  left:6rem;
  bottom:-4rem;
  z-index: 10;
  filter: drop-shadow(3px 3px 5px #000000);
  @include easeTrans(500ms);
  /*background-color: red;*/
}

.bottomSquare{
  background-image: url("../imgs/redSquare.png");
  background-color: forestgreen;
}

.webTitle, .motionTitle{
  font-weight: 900;
  letter-spacing: 3px;
  margin-bottom: 10px;
  @include easeTrans(400ms);
}

.webTitle{
  letter-spacing: 6px
}

.bottomSquare:hover .webTitle, .topSquare:hover .motionTitle{
  letter-spacing: 10px;
  margin-bottom: 15px;
}

.motionTitleFa, .webTitleFa {
  font-family: $mainFaFont;
  font-size: 2rem;
}

.webTitleFa {
  font-size: 3rem;
}

.designerTitleFa, .developerTitleFa{
  font-family: $mainFaFont;
  font-size: 2rem;
}


main{
  @include advancedPosition(null,85%,null);
  @include advancedFlex(column,null,null);
  /*background-color: yellow;*/
}

@include topMenu;

@include langSelector;

.nameCont{
  @include advancedPosition(null,null,45%);
  display: flex;
  //background-color: aqua;
}

.imTitle{
  @include advancedPosition(null,20%,null);
  @include advancedFlex(row,flex-end,flex-end);
  padding-bottom: .15em;
  font-size: 3.5vw;
  font-weight: 200;
  /*background-color: olivedrab;*/
}

.fullName{
  @include advancedPosition(relative,80%,100%);
  @include advancedFlex(row,flex-start,flex-end);
  padding-left: 3vw;
  padding-bottom: .15em;
  font-size: 4vw;
  font-weight: 900;
  /*background-color: red;*/
  background-image: url("../imgs/nameBgMyRect.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 55vw 7vw;
  filter: drop-shadow(5px 5px #ffffff);
  animation-name: nameBgAni;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  animation-duration: 5s;
}

.fullNameFa{
   font-family: $mainFaFont;
   font-size: 5.5vw;
   font-weight: 400;
   padding-bottom: 0;
   padding-left: 5vw;
 }

@keyframes nameBgAni{
  0%{transform: rotateZ(0deg);}
  10%{transform: rotateZ(-.5deg);}
  20%{transform: rotateZ(.5deg);}
  30%{transform: rotateZ(0deg);}
  40%{transform: rotateZ(0deg);}
  50%{transform: rotateZ(-.5deg);}
  60%{transform: rotateZ(.5deg);}
  70%{transform: rotateZ(0deg);}
  80%{transform: rotateZ(0deg);}
  90%{transform: rotateZ(-.5deg);}
  100%{transform: rotateZ(.5deg);}
}

.shortBio{
  height: 15%;
  padding-left: 24%;
  padding-top: 1.5rem;
  @include advancedFlex(column,null,null);
  /*background-color: blueviolet;*/
}

.shortBio p{
  font-family: $secondFont;
  font-size: 2vw;
  font-weight: 400;
  line-height: 3.5rem;
  /*background-color: chocolate;*/
}

.bigScreenBioFa{
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  padding-right: 15vw;
}

.shortBio:hover .boldRedText{ color: $accentColor; }

.boldRedText{
  color: #EE5F4D;
  font-weight: 600;
  @include easeTrans(500ms);
}

.smallText{ font-size: 1vw; }

.socials{
  @include advancedPosition(null,null,20%);
  @include advancedFlex(row,null,center);
  padding-top: 4rem;
  /*background-color: rebeccapurple;*/
}

.socialWhiteSpace{
  @include advancedPosition(null,24%,100%);
  @include easeTrans(200ms);
  /*background-color: #ffffff;*/
}

.socialsText{
  text-align: left;
  white-space: nowrap;
  /*background-color: hotpink;*/
  & h3{
    font-family: $secondFont;
    /*font-size: 1.2vw;*/
    font-size: clamp(1.2rem ,1.2vw ,1.3vw);
    font-weight: 600;
    line-height: 3.5rem;
    /*background-color: #fdf497;*/
  }
}

.socialIconsCont{
  @include advancedPosition(null,30rem,100%);
  @include advancedFlex(row,space-evenly,center);
  /*background-color: yellow;*/
}

.socialwrapper{
  @include advancedPosition(null,4rem,4rem);
  border-radius: 40%;
  background-color: #414345;
  box-shadow:2px 2px 2px $accentColor;
  /*box-shadow:4px 6px 5px rgba(0, 0, 0, .1) ;*/
  @include easeTrans(500ms);
  &:hover{
    box-shadow:0 0 5px rgba(0, 0, 0, .1) ;
  }
}

.socialIcon{
  @include advancedPosition(null,4rem,4rem);
  border-radius: 40%;
  /*background-color: #414345;*/
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  filter: saturate(0%);
  @include easeTrans(500ms);
  &:hover{
    background-size: 60%;
    filter: saturate(100%);
    transform: rotateZ(360deg);
  }
}

.linkedinIcon{
  background-image: url("../imgs/linkedinicon.svg");
  &:hover{
    background-color:  #0072b1;
  }
}

.githubIcon{
  background-image: url("../imgs/githubicon.svg");
  &:hover{
    background-color: #171515;
  }
}

.telegramIcon{
  background-image: url("../imgs/telegram.png");
  /*background-size: 60%;*/
  &:hover{
    background-color: #0088CC;
  }
}

.instagramIcon{
  background-image: url("../imgs/instagramicon.svg");
  background-size: 60%;
  &:hover .instagramGradiant{
    opacity: 1;
  }
}

.instagramGradiant{
  @include advancedPosition(null,100%,100%);
  border-radius: 40%;
  background:
  center center/70% no-repeat
  url("../imgs/instagramicon.svg"),
  center/cover no-repeat
  radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  opacity: 0;
  @include easeTrans(500ms);
}

.youtubeIcon{
  background-image: url("../imgs/youtubeicon.svg");
  &:hover{
    background-color: #FF0000;
  }
}

.yahooIcon{
  background-image: url("../imgs/yahooicon.svg");
  &:hover{
    background-color: #430297;
  }
}

footer{
  @include advancedPosition(null,null,10%);
  padding-right: 20px;
  @include advancedFlex(column,center,flex-end);
  /*background-color: olivedrab;*/
}

.logoCont{
  @include advancedPosition(relative,null,100%);
  @include advancedFlex(column,center,center);
  /*background-color: #EE5F4D;*/
  &:hover .logoToolTip{
    bottom: 1rem;
  }
}

.logoToolTip{
  @include advancedPosition(absolute,18rem,2.5rem);
  left: -18.5rem;
  bottom: -10rem;
  @include advancedFlex(column,center,center);
  border-radius: .5rem;
  color: #ffffff;
  background-color: #313334;
  @include easeTrans(300ms);
  &::after{
    @include advancedPosition(absolute,2rem,2rem);
    box-sizing: border-box;
    content: "";
    right: -1.5rem;
    bottom: .25rem;
    border-right: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    border-top: 1rem solid transparent;
    border-left: 1rem solid #313334;
    /*background-color: $coolGreen;*/
  }
}

.logoSubText{
  @include advancedPosition(relative,null,null);
  padding-left: 8px;
  font-size: 15px;
  /*background-color: blue;*/
  &::after{
    @include advancedPosition(absolute,50px,5px);
    content: "";
    right: -55px;
    bottom: 4px;
    background-color: $accentColor;
  }
}
@media (max-width: 1500px) {
  .langMotherCont {
    right: 1rem;
  }
}
@media (max-width: 970px) {
  aside{
    @include advancedPosition(null,10%,null);
    min-width:200px;
  }

  .topMenu{
    font-size: .75rem;
  }

  .topMenuBtnCont{
    margin-right: 1vw;
    margin-left: 1vw;
    padding: 0 2px;
  }

  .langMotherCont{
    right:1rem;
    width: 3.5rem;
    font-size: .75rem;
  }

  .faLangSelector, .engLangSelector{
    padding: 0 6px;
  }

  .langMotherCont img{
    width: 20px;
  }

  .langArrow{
    font-size: 1rem;
  }

  .heroPic{
    @include advancedPosition(absolute,130%,null);
    left:3rem;
    bottom:-1rem;
  }

  .nameCont{
    padding-left: 7rem;
    @include advancedFlex(column,flex-end,flex-start);
    /*background-color: aqua;*/
  }

  .imTitle{
    justify-content: flex-start;
    align-items: flex-end;
    padding-bottom: 0;
    font-size: 4vw;
  }

  .fullName{@include advancedPosition(null,100%,20%);}

  .socialWhiteSpace{@include advancedPosition(null,5%,100%);}

  .socialIconsCont{@include advancedPosition(null,22rem,null);}

  .socialwrapper{@include advancedPosition(null,3rem,3rem);}

  .socialIcon {@include advancedPosition(null,3rem,3rem);}

  .shortBio{
    padding-top: 2rem;
    & p{
      font-size: 2.5vw;
      line-height: 3rem;
    }
  }

  .smallText{font-size: 1.75vw;}
}