/*    ---  Content Tables
    ---  1.BodyStyles             ---
    ---  2.BackGrounds            ---
    ---  3.MainPart               ---
    ---   3.1.Hero                ---
    ---    3.1.1.WebDev           ---
    ---     3.1.1.1.LeftArrows    ---
    ---    3.1.2.HeroPic          ---
    ---    3.1.3.MotionDes        ---
    ---     3.1.3.1.RightArrows   ---
    ---  4.MyName                 ---
    ---    4.1.ImTitle            ---
    ---    4.2.FullName           ---
    ---  5.ShortBio               ---
    ---  6.Nav                    ---
    ---    6.1.RA2Logo            ---
    ---     6.1.1.LogoToolTip     ---
    ---    6.2.MenuButtons        ---
    ---    6.3.LangSelector       ---   */
/*    ---    Variables       ---   */
/*    ---    Mixins       ---   */
.preloadDiv {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 99;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background: #232526;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to left, #414345, #232526);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to left, #414345, #232526);
  font-size: 2vw;
  font-family: sans-serif; }

.opacityZero {
  transition: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  animation-name: slideOut;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in; }

@keyframes slideOut {
  to {
    top: -100%; } }
body {
  height: 100vh;
  background: #232526;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to left, #414345, #232526);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to left, #414345, #232526);
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  position: relative; }

.bodyCont {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /*background-color: coral;*/ }

.hamberBtnCont {
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 1rem;
  left: 1rem;
  cursor: pointer;
  border-radius: 30%;
  background-color: #414345;
  background-image: url("../imgs/Hamburger_icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  z-index: 99;
  transition: all;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out; }

.topMenu {
  position: absolute;
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  top: 0;
  left: -100%;
  padding-top: 5rem;
  opacity: .99;
  z-index: 90;
  transition: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  box-shadow: 10px 0 100px #000000;
  background-color: #313334; }

.topMenuBtnCont {
  display: inline-block;
  width: 100%;
  height: 10%;
  margin-bottom: 1rem; }

.homeBtnCont {
  pointer-events: none;
  cursor: default;
  color: #00D193; }

.menuBtn {
  font-size: 1.2rem;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  /*background-color: yellow;*/ }
  .menuBtn::after, .menuBtn::before {
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: -100%;
    content: "";
    border-radius: 10px;
    background-color: #00D193;
    transition: all;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out; }
  .menuBtn::before {
    left: -120%;
    background-color: yellow; }
  .menuBtn:hover {
    color: #00D193; }
  .menuBtn:hover::after, .menuBtn:hover::before {
    left: 100%;
    transition-duration: 400ms; }
  .menuBtn:hover::before {
    transition-delay: 130ms; }

.menuBtnFa {
  font-family: "Almarai", sans-serif; }

.downloadBtnCont {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }

.downloadBtn {
  width: 80%;
  height: 80%;
  padding: 0 15px;
  background-color: #00D193;
  border-radius: 1rem;
  transition: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out; }
  .downloadBtn:hover {
    background-color: #ffffff;
    color: #00D193; }
  .downloadBtn::after, .downloadBtn::before {
    display: none; }

.langMotherCont {
  position: absolute;
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  min-height: 5rem;
  top: 4rem;
  left: 1rem;
  z-index: 98;
  font-weight: 700;
  font-size: 1rem; }

.selectedLang {
  width: 3rem;
  height: 3rem;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  color: #ffffff;
  border: #00D193 solid 1.5px;
  cursor: pointer;
  border-radius: 30%;
  background-color: #00D193;
  transition: all;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out; }
  .selectedLang:hover {
    background-color: #ffffff;
    color: #00D193; }
  .selectedLang:hover .langArrow {
    transform: rotateZ(90deg);
    color: #ffffff; }

.langArrow {
  display: none; }

.langsCont {
  position: absolute;
  width: 100%;
  height: 6rem;
  top: 80%;
  padding-top: 8px;
  display: none;
  opacity: 0; }

.langsContDisplayer {
  opacity: 1;
  display: block;
  transition: all;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out; }

.engLangSelector, .faLangSelector {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  background-color: #00D193;
  border-radius: 0 0 5px 5px;
  padding: 10px 12px;
  cursor: pointer;
  transition: all;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out; }
  .engLangSelector:hover, .faLangSelector:hover {
    background-color: #ffffff;
    color: #00D193; }
  .engLangSelector img, .faLangSelector img {
    margin-top: 5px; }

.faLangSelector {
  border-bottom: solid #ffffff 1px;
  border-radius: 5px 5px 0 0;
  font-family: "Almarai", sans-serif; }

.selectedLangFa {
  font-family: "Almarai", sans-serif; }

.bluring {
  filter: blur(5px);
  transition: all;
  transition-duration: 400ms;
  transition-timing-function: ease-in-out; }

.menuLefter {
  left: 0; }

aside {
  width: 100%;
  height: 40%;
  padding-bottom: 12%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  transition: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  transition-timing-function: ease-out;
  /*background-color: teal;*/ }

.topSquareCont, .bottomSquareCont {
  width: 30%;
  height: 60%;
  display: block; }

.topSquare, .bottomSquare {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: blanchedalmond;
  background-image: url("../imgs/blueSquare.png");
  background-repeat: no-repeat;
  background-size: 110% 110%;
  background-position: center;
  filter: saturate(0%);
  font-size: 1rem;
  transition: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out; }
  .topSquare:hover, .bottomSquare:hover {
    background-size: 125% 125%;
    filter: saturate(100%);
    transition: all;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out; }

.topSquare h2 {
  margin-bottom: 10px;
  transition: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out; }

.midSquare {
  position: relative;
  width: 40%;
  height: 60%;
  background-color: #313334;
  background-image: url("../imgs/picBGabstract.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  transition: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out; }
  .midSquare:hover {
    background-position: center; }
    .midSquare:hover:hover .heroPic {
      transform: scale(1.05, 1.05) rotateZ(-5deg); }

.heroPic {
  position: absolute;
  width: 47vw;
  /*left:6rem;*/
  left: -3.5vw;
  bottom: -3.5vh;
  z-index: 10;
  filter: drop-shadow(3px 3px 5px #000000);
  transition: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  /*background-color: red;*/ }
  @media (min-width: 640px) {
    .heroPic {
      width: 42vw;
      left: -.25rem;
      bottom: -7rem; } }

.bottomSquare {
  background-image: url("../imgs/redSquare.png");
  background-color: forestgreen; }

.webTitle, .motionTitle {
  font-weight: 900;
  letter-spacing: 3px;
  margin-bottom: 10px;
  transition: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out; }

.motionTitle {
  letter-spacing: 2px; }

.webTitle {
  letter-spacing: 6px; }

.bottomSquare:hover .webTitle {
  letter-spacing: 10px;
  margin-bottom: 15px; }

.topSquare:hover .motionTitle {
  letter-spacing: 10px;
  margin-bottom: 15px; }

.developerTitle, .designerTitle {
  font-weight: 200; }

.motionTitleFa, .webTitleFa {
  font-family: "Lalezar", cursive, sans-serif;
  font-size: 1.75rem; }

.webTitleFa {
  font-size: 2rem; }

.designerTitleFa, .developerTitleFa {
  font-family: "Lalezar", cursive, sans-serif;
  font-size: 1.2rem; }

main {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  transition: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  transition-timing-function: ease-out;
  /*background-color: yellow;*/ }

.nameCont {
  height: 20%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  /*background-color: aqua;*/ }

.imTitle {
  display: none;
  opacity: 0; }

.fullName {
  position: relative;
  width: 85%;
  height: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding-top: .7rem;
  font-size: 6vw;
  font-weight: 900;
  /*background-color: red;*/
  background-image: url("../imgs/nameBgMyRect.svg");
  background-repeat: no-repeat;
  /*background-position: bottom left;*/
  /*background-size: calc(120px + 70%);*/
  background-position: center;
  background-size: 100% 100%;
  filter: drop-shadow(5px 5px #ffffff);
  animation-name: nameBgAni;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  animation-duration: 5s;
  text-align: center; }

.fullNameFa {
  font-family: "Lalezar", cursive, sans-serif;
  font-size: 7.5vw;
  font-weight: 400;
  padding-bottom: 0;
  padding-left: 5vw; }

@keyframes nameBgAni {
  0% {
    transform: rotateZ(0deg); }
  10% {
    transform: rotateZ(-0.5deg); }
  20% {
    transform: rotateZ(0.5deg); }
  30% {
    transform: rotateZ(0deg); }
  40% {
    transform: rotateZ(0deg); }
  50% {
    transform: rotateZ(-0.5deg); }
  60% {
    transform: rotateZ(0.5deg); }
  70% {
    transform: rotateZ(0deg); }
  80% {
    transform: rotateZ(0deg); }
  90% {
    transform: rotateZ(-0.5deg); }
  100% {
    transform: rotateZ(0.5deg); } }
.bigScreenBio {
  display: none;
  opacity: 0; }

.shortBio {
  height: 45%;
  /*padding-left: 24%;*/
  /*padding-top: 1.5rem;*/
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  /*background-color: blueviolet;*/ }
  .shortBio p {
    font-family: "Quicksand", sans-serif;
    font-size: 5vw;
    font-weight: 400;
    line-height: 2.5rem;
    /*background-color: chocolate;*/ }
  .shortBio:hover .boldRedText {
    color: #00D193; }

.smallScreenBioFa {
  display: flex;
  flex-flow: column;
  align-items: flex-end; }

.boldRedText {
  color: #EE5F4D;
  font-weight: 600;
  transition: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out; }

.smallText {
  font-size: 3vw; }

.socials {
  height: 20%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  /*background-color: rebeccapurple;*/ }

.socialWhiteSpace, .socialsText {
  display: none;
  opacity: 0;
  /*background-color: #ffffff;*/ }

.socialIconsCont {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  /*background-color: yellow;*/ }

.socialwrapper {
  /*width: 3rem;*/
  /*height: 3rem;*/
  width: 10vw;
  height: 10vw;
  border-radius: 40%;
  background-color: #414345;
  box-shadow: 1px 1px 1px #00D193;
  /*box-shadow:4px 6px 5px rgba(0, 0, 0, .1) ;*/
  transition: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out; }
  .socialwrapper:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }

.socialIcon {
  width: 10vw;
  height: 10vw;
  border-radius: 40%;
  /*background-color: #414345;*/
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  filter: saturate(0%);
  transition: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out; }
  .socialIcon:hover {
    background-size: 55%;
    filter: saturate(100%);
    transform: rotateZ(360deg); }

.linkedinIcon {
  background-image: url("../imgs/linkedinicon.svg"); }
  .linkedinIcon:hover {
    background-color: #0072b1; }

.githubIcon {
  background-image: url("../imgs/githubicon.svg"); }
  .githubIcon:hover {
    background-color: #171515; }

.telegramIcon {
  background-image: url("../imgs/telegram.png");
  /*background-size: 60%;*/ }
  .telegramIcon:hover {
    background-color: #0088CC; }

.instagramIcon {
  background-image: url("../imgs/instagramicon.svg");
  background-size: 60%; }
  .instagramIcon:hover .instagramGradiant {
    opacity: 1; }

.instagramGradiant {
  width: 100%;
  height: 100%;
  border-radius: 40%;
  background: center center/65% no-repeat url("../imgs/instagramicon.svg"), center/cover no-repeat radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  opacity: 0;
  transition: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out; }

.youtubeIcon {
  background-image: url("../imgs/youtubeicon.svg"); }
  .youtubeIcon:hover {
    background-color: #FF0000; }

.yahooIcon {
  background-image: url("../imgs/yahooicon.svg"); }
  .yahooIcon:hover {
    background-color: #430297; }

footer {
  height: 15%;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  /*background-color: olivedrab;*/ }

.logoCont {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  /*background-color: #EE5F4D;*/ }
  .logoCont img {
    width: 50px; }

.logoToolTip {
  display: none;
  opacity: 0; }

.logoSubText {
  position: relative;
  padding-left: 8px;
  font-size: 10px;
  /*background-color: blue;*/ }
  .logoSubText::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 5px;
    right: -54px;
    bottom: 3px;
    background-color: #00D193; }

/*# sourceMappingURL=mainmobile.css.map */
