/*    ---  Content Tables
    ---    1.imports & PreloadAni             ---
    ---    2.Body                             ---
    ---    3.Aside                            ---
    ---     3.1.TopSquare                     ---
    ---     3.2.MidSquare & HeroPic           ---
    ---     3.3.BottomSquare                  ---
    ---    4.Main                             ---
    ---      4.1.TopMenu & LangSelector       ---
    ---      4.2.FullName                     ---
    ---    5.NameConts                        ---
    ---    6.ShortBio                         ---
    ---    7.Socials                          ---
    ---    8.Logo & Logo ToolTip              ---
    ---    9.MediaQueries                     --- */
/*    ---    Variables       ---   */
/*    ---    Mixins       ---   */
.preloadDiv {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 99;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background: #232526;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to left, #414345, #232526);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to left, #414345, #232526);
  font-size: 2vw;
  font-family: sans-serif; }

.opacityZero {
  transition: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  animation-name: slideOut;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in; }

@keyframes slideOut {
  to {
    top: -100%; } }
.smallScreenBio, .hamberBtnCont {
  display: none;
  opacity: 0; }

body {
  height: 100vh;
  min-height: 750px;
  background: #232526;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to left, #414345, #232526);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to left, #414345, #232526);
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  color: #ffffff; }

.bodyCont {
  height: 100%;
  display: flex;
  /*background-color: coral;*/ }

aside {
  width: 15%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  transition: all;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  /*background-color: teal;*/ }

.topSquareCont, .bottomSquareCont {
  display: block;
  height: 33%; }

.topSquare, .bottomSquare {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: blanchedalmond;
  background-image: url("../imgs/blueSquare.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  filter: saturate(0%);
  font-size: 30px;
  font-weight: 200;
  transition: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out; }
  .topSquare:hover, .bottomSquare:hover {
    background-size: 125% 125%;
    filter: saturate(100%); }

.midSquare {
  position: relative;
  height: 34%;
  background-color: #313334;
  background-image: url("../imgs/picBGabstract.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  transition: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out; }
  .midSquare:hover {
    background-position: center; }
  .midSquare:hover .heroPic {
    transform: scale(1.05, 1.05) rotateZ(-5deg); }

.heroPic {
  position: absolute;
  width: 130%;
  left: 6rem;
  bottom: -4rem;
  z-index: 10;
  filter: drop-shadow(15px 15px 0 #434343);
  transition: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  /*background-color: red;*/ }

.bottomSquare {
  background-image: url("../imgs/redSquare.png");
  background-color: forestgreen; }

.webTitle, .motionTitle {
  font-weight: 900;
  letter-spacing: 3px;
  margin-bottom: 10px;
  transition: all;
  transition-duration: 400ms;
  transition-timing-function: ease-in-out; }

.webTitle {
  letter-spacing: 6px; }

.bottomSquare:hover .webTitle, .topSquare:hover .motionTitle {
  letter-spacing: 10px;
  margin-bottom: 15px; }

.motionTitleFa, .webTitleFa {
  font-family: "Lalezar", cursive, sans-serif;
  font-size: 2rem; }

.webTitleFa {
  font-size: 3rem; }

.designerTitleFa, .developerTitleFa {
  font-family: "Lalezar", cursive, sans-serif;
  font-size: 2rem; }

main {
  width: 85%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /*background-color: yellow;*/ }

.topMenu {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  font-weight: 700;
  font-size: 1rem;
  padding-right: 6rem; }

.topMenuFa {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex-direction: row-reverse; }

.topMenuBtnCont {
  height: 100%;
  padding: 0 2px;
  margin-right: 2.5vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  /*background-color: coral;*/ }

.menuBtn {
  position: relative;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  /*background-color: yellow;*/ }
  .menuBtn::after, .menuBtn::before {
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: -100%;
    content: "";
    border-radius: 10px;
    background-color: #00D193;
    transition: all;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out; }
  .menuBtn::before {
    left: -120%;
    background-color: yellow; }
  .menuBtn:hover {
    color: #00D193; }
  .menuBtn:hover::after, .menuBtn:hover::before {
    left: 100%;
    transition-duration: 400ms; }
  .menuBtn:hover::before {
    transition-delay: 130ms; }

.menuBtnFa {
  font-family: "Almarai", sans-serif; }

.downloadBtn {
  width: 100%;
  padding: 0 15px;
  background-color: #00D193;
  border-radius: 1rem;
  transition: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out; }
  .downloadBtn:hover {
    background-color: #ffffff;
    color: #00D193; }
  .downloadBtn::after, .downloadBtn::before {
    display: none; }

.homeBtnCont {
  pointer-events: none;
  cursor: default;
  color: #00D193; }

.langMotherCont {
  position: absolute;
  width: 5rem;
  height: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  min-height: 5rem;
  top: 0;
  right: 2rem;
  z-index: 98;
  font-weight: 700;
  font-size: 1rem; }

.selectedLang {
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 2px 0 4px;
  color: #ffffff;
  border-radius: 5px;
  border: #00D193 solid 1.5px;
  cursor: pointer;
  transition: all;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out; }
  .selectedLang:hover {
    background-color: #00D193;
    color: #ffffff; }
  .selectedLang:hover .langArrow {
    transform: rotateZ(90deg);
    color: #ffffff; }

.langArrow {
  color: #00D193;
  font-size: 2rem;
  transform: rotateZ(0deg);
  transition: all;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out; }

.langsCont {
  position: absolute;
  width: 100%;
  height: 5rem;
  top: 70%;
  padding-top: 8px;
  display: none;
  opacity: 0; }

.langsContDisplayer {
  opacity: 1;
  display: block;
  transition: all;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out; }

.engLangSelector, .faLangSelector {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50%;
  background-color: #00D193;
  border-radius: 0 0 5px 5px;
  padding: 0 12px;
  cursor: pointer;
  transition: all;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out; }
  .engLangSelector:hover, .faLangSelector:hover {
    background-color: #ffffff;
    color: #00D193; }

.faLangSelector {
  border-bottom: solid #ffffff 1px;
  border-radius: 5px 5px 0 0;
  font-family: "Almarai", sans-serif; }

.selectedLangFa {
  font-family: "Almarai", sans-serif; }

.nameCont {
  height: 45%;
  display: flex; }

.imTitle {
  width: 20%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: .15em;
  font-size: 3.5vw;
  font-weight: 200;
  /*background-color: olivedrab;*/ }

.fullName {
  position: relative;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  padding-left: 3vw;
  padding-bottom: .15em;
  font-size: 4vw;
  font-weight: 900;
  /*background-color: red;*/
  background-image: url("../imgs/nameBgMyRect.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 55vw 7vw;
  filter: drop-shadow(5px 5px #ffffff);
  animation-name: nameBgAni;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  animation-duration: 5s; }

.fullNameFa {
  font-family: "Lalezar", cursive, sans-serif;
  font-size: 5.5vw;
  font-weight: 400;
  padding-bottom: 0;
  padding-left: 5vw; }

@keyframes nameBgAni {
  0% {
    transform: rotateZ(0deg); }
  10% {
    transform: rotateZ(-0.5deg); }
  20% {
    transform: rotateZ(0.5deg); }
  30% {
    transform: rotateZ(0deg); }
  40% {
    transform: rotateZ(0deg); }
  50% {
    transform: rotateZ(-0.5deg); }
  60% {
    transform: rotateZ(0.5deg); }
  70% {
    transform: rotateZ(0deg); }
  80% {
    transform: rotateZ(0deg); }
  90% {
    transform: rotateZ(-0.5deg); }
  100% {
    transform: rotateZ(0.5deg); } }
.shortBio {
  height: 15%;
  padding-left: 24%;
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /*background-color: blueviolet;*/ }

.shortBio p {
  font-family: "Quicksand", sans-serif;
  font-size: 2vw;
  font-weight: 400;
  line-height: 3.5rem;
  /*background-color: chocolate;*/ }

.bigScreenBioFa {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  padding-right: 15vw; }

.shortBio:hover .boldRedText {
  color: #00D193; }

.boldRedText {
  color: #EE5F4D;
  font-weight: 600;
  transition: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out; }

.smallText {
  font-size: 1vw; }

.socials {
  height: 20%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding-top: 4rem;
  /*background-color: rebeccapurple;*/ }

.socialWhiteSpace {
  width: 24%;
  height: 100%;
  transition: all;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  /*background-color: #ffffff;*/ }

.socialsText {
  text-align: left;
  white-space: nowrap;
  /*background-color: hotpink;*/ }
  .socialsText h3 {
    font-family: "Quicksand", sans-serif;
    /*font-size: 1.2vw;*/
    font-size: clamp(1.2rem, 1.2vw, 1.3vw);
    font-weight: 600;
    line-height: 3.5rem;
    /*background-color: #fdf497;*/ }

.socialIconsCont {
  width: 30rem;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  /*background-color: yellow;*/ }

.socialwrapper {
  width: 4rem;
  height: 4rem;
  border-radius: 40%;
  background-color: #414345;
  box-shadow: 2px 2px 2px #00D193;
  /*box-shadow:4px 6px 5px rgba(0, 0, 0, .1) ;*/
  transition: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out; }
  .socialwrapper:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); }

.socialIcon {
  width: 4rem;
  height: 4rem;
  border-radius: 40%;
  /*background-color: #414345;*/
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  filter: saturate(0%);
  transition: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out; }
  .socialIcon:hover {
    background-size: 60%;
    filter: saturate(100%);
    transform: rotateZ(360deg); }

.linkedinIcon {
  background-image: url("../imgs/linkedinicon.svg"); }
  .linkedinIcon:hover {
    background-color: #0072b1; }

.githubIcon {
  background-image: url("../imgs/githubicon.svg"); }
  .githubIcon:hover {
    background-color: #171515; }

.telegramIcon {
  background-image: url("../imgs/telegram.png");
  /*background-size: 60%;*/ }
  .telegramIcon:hover {
    background-color: #0088CC; }

.instagramIcon {
  background-image: url("../imgs/instagramicon.svg");
  background-size: 60%; }
  .instagramIcon:hover .instagramGradiant {
    opacity: 1; }

.instagramGradiant {
  width: 100%;
  height: 100%;
  border-radius: 40%;
  background: center center/70% no-repeat url("../imgs/instagramicon.svg"), center/cover no-repeat radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  opacity: 0;
  transition: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out; }

.youtubeIcon {
  background-image: url("../imgs/youtubeicon.svg"); }
  .youtubeIcon:hover {
    background-color: #FF0000; }

.yahooIcon {
  background-image: url("../imgs/yahooicon.svg"); }
  .yahooIcon:hover {
    background-color: #430297; }

footer {
  height: 10%;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  /*background-color: olivedrab;*/ }

.logoCont {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  /*background-color: #EE5F4D;*/ }
  .logoCont:hover .logoToolTip {
    bottom: 1rem; }

.logoToolTip {
  position: absolute;
  width: 18rem;
  height: 2.5rem;
  left: -18.5rem;
  bottom: -10rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: .5rem;
  color: #ffffff;
  background-color: #313334;
  transition: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out; }
  .logoToolTip::after {
    position: absolute;
    width: 2rem;
    height: 2rem;
    box-sizing: border-box;
    content: "";
    right: -1.5rem;
    bottom: .25rem;
    border-right: 1rem solid transparent;
    border-bottom: 1rem solid transparent;
    border-top: 1rem solid transparent;
    border-left: 1rem solid #313334;
    /*background-color: $coolGreen;*/ }

.logoSubText {
  position: relative;
  padding-left: 8px;
  font-size: 15px;
  /*background-color: blue;*/ }
  .logoSubText::after {
    position: absolute;
    width: 50px;
    height: 5px;
    content: "";
    right: -55px;
    bottom: 4px;
    background-color: #00D193; }

@media (max-width: 1500px) {
  .langMotherCont {
    right: 1rem; } }
@media (max-width: 970px) {
  aside {
    width: 10%;
    min-width: 200px; }

  .topMenu {
    font-size: .75rem; }

  .topMenuBtnCont {
    margin-right: 1vw;
    margin-left: 1vw;
    padding: 0 2px; }

  .langMotherCont {
    right: 1rem;
    width: 3.5rem;
    font-size: .75rem; }

  .faLangSelector, .engLangSelector {
    padding: 0 6px; }

  .langMotherCont img {
    width: 20px; }

  .langArrow {
    font-size: 1rem; }

  .heroPic {
    position: absolute;
    width: 130%;
    left: 3rem;
    bottom: -1rem; }

  .nameCont {
    padding-left: 7rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    /*background-color: aqua;*/ }

  .imTitle {
    justify-content: flex-start;
    align-items: flex-end;
    padding-bottom: 0;
    font-size: 4vw; }

  .fullName {
    width: 100%;
    height: 20%; }

  .socialWhiteSpace {
    width: 5%;
    height: 100%; }

  .socialIconsCont {
    width: 22rem; }

  .socialwrapper {
    width: 3rem;
    height: 3rem; }

  .socialIcon {
    width: 3rem;
    height: 3rem; }

  .shortBio {
    padding-top: 2rem; }
    .shortBio p {
      font-size: 2.5vw;
      line-height: 3rem; }

  .smallText {
    font-size: 1.75vw; } }

/*# sourceMappingURL=main.css.map */
