/*    ---  Content Tables
    ---    1.imports & PreloadAni             ---
    ---    2.Body                             ---
    ---    3.Aside                            ---
    ---     3.1.TopSquare                     ---
    ---     3.2.MidSquare & HeroPic           ---
    ---     3.3.BottomSquare                  ---
    ---    4.Main                             ---
    ---      4.1.TopMenu & LangSelector       ---
    ---      4.2.FullName                     ---
    ---    5.NameConts                        ---
    ---    6.ShortBio                         ---
    ---    7.Socials                          ---
    ---    8.Logo & Logo ToolTip              ---
    ---    9.MediaQueries                     --- */
@font-face {
  font-family: 'shabnamregular';
  src: url("../fonts/Shabnam.woff2") format("woff2"), url("../fonts/Shabnam.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'shabnambold';
  src: url("../fonts/Shabnam-Bold.woff2") format("woff2"), url("../fonts/Shabnam-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'shabnamlight';
  src: url("../fonts/Shabnam-Light.woff2") format("woff2"), url("../fonts/Shabnam-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'shabnammedium';
  src: url("../fonts/Shabnam-Medium.woff2") format("woff2"), url("../fonts/Shabnam-Medium.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'shabnamthin';
  src: url("../fonts/Shabnam-Thin.woff2") format("woff2"), url("../fonts/Shabnam-Thin.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
/*    ---    Variables       ---   */
/*    ---    Mixins       ---   */
.preloadDiv {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 99;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background: #232526;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to left, #414345, #232526);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to left, #414345, #232526);
  font-size: 2vw;
  font-family: sans-serif; }

.opacityZero {
  transition: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  animation-name: slideOut;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in; }

@keyframes slideOut {
  to {
    top: -100%; } }
.hamberBtnCont {
  display: none;
  opacity: 0; }

body {
  position: relative;
  width: 100%;
  background: #ffffff;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  color: #414345; }

.bodyCont {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  scroll-behavior: smooth; }

.topMenu {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  font-weight: 700;
  font-size: 1rem;
  padding-right: 6rem; }

.topMenuFa {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  flex-direction: row-reverse; }

.topMenuBtnCont {
  height: 100%;
  padding: 0 2px;
  margin-right: 2.5vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  /*background-color: coral;*/ }

.menuBtn {
  position: relative;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  /*background-color: yellow;*/ }
  .menuBtn::after, .menuBtn::before {
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: -100%;
    content: "";
    border-radius: 10px;
    background-color: #00D193;
    transition: all;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out; }
  .menuBtn::before {
    left: -120%;
    background-color: yellow; }
  .menuBtn:hover {
    color: #00D193; }
  .menuBtn:hover::after, .menuBtn:hover::before {
    left: 100%;
    transition-duration: 400ms; }
  .menuBtn:hover::before {
    transition-delay: 130ms; }

.menuBtnFa {
  font-family: "Almarai", sans-serif; }

.downloadBtn {
  width: 100%;
  padding: 0 15px;
  background-color: #00D193;
  border-radius: 1rem;
  transition: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out; }
  .downloadBtn:hover {
    background-color: #ffffff;
    color: #00D193; }
  .downloadBtn::after, .downloadBtn::before {
    display: none; }

.topMenu {
  background-color: #414345;
  position: fixed;
  width: 100%;
  height: 5rem;
  top: 0;
  color: #ffffff;
  z-index: 98;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  opacity: .99; }
  @media screen and (max-width: 1200px) {
    .topMenu {
      padding-right: 8rem; } }

.langMotherCont {
  position: absolute;
  width: 5rem;
  height: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  min-height: 5rem;
  top: 0;
  right: 2rem;
  z-index: 98;
  font-weight: 700;
  font-size: 1rem;
  user-select: none; }

.selectedLang {
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 2px 0 4px;
  color: #ffffff;
  border-radius: 5px;
  border: #00D193 solid 1.5px;
  cursor: pointer;
  transition: all;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out; }
  .selectedLang:hover {
    background-color: #00D193;
    color: #ffffff; }
  .selectedLang:hover .langArrow {
    transform: rotateZ(90deg);
    color: #ffffff; }

.langArrow {
  color: #00D193;
  font-size: 2rem;
  transform: rotateZ(0deg);
  transition: all;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out; }

.langsCont {
  position: absolute;
  width: 100%;
  height: 5rem;
  top: 70%;
  padding-top: 8px;
  display: none;
  opacity: 0; }

.langsContDisplayer {
  opacity: 1;
  display: block;
  transition: all;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out; }

.engLangSelector, .faLangSelector {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50%;
  background-color: #00D193;
  border-radius: 0 0 5px 5px;
  padding: 0 12px;
  cursor: pointer;
  transition: all;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out; }
  .engLangSelector:hover, .faLangSelector:hover {
    background-color: #ffffff;
    color: #00D193; }

.faLangSelector {
  border-bottom: solid #ffffff 1px;
  border-radius: 5px 5px 0 0;
  font-family: "Almarai", sans-serif; }

.selectedLangFa {
  font-family: "Almarai", sans-serif; }

.langMotherCont {
  position: fixed;
  height: 2rem;
  z-index: 98;
  color: #ffffff; }

.resumeBtnCont {
  pointer-events: none;
  cursor: default;
  color: #00D193; }

.resumeFirstSec {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  flex-wrap: wrap;
  color: #414345;
  padding-top: 12rem; }
  @media screen and (max-width: 1300px) {
    .resumeFirstSec {
      padding-top: 8rem; } }

.resumeTitleCont {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  width: 100%;
  height: 20%;
  padding-left: 6rem;
  padding-right: 2rem;
  font-weight: 700;
  font-size: 2rem; }
  @media screen and (max-width: 1300px) {
    .resumeTitleCont {
      padding-left: 2rem;
      padding-right: 1rem;
      font-size: 1.5rem; } }

.resumeTextCont {
  width: 60%;
  padding: 4rem 4rem 2rem 6rem;
  text-align: justify; }
  @media screen and (max-width: 1300px) {
    .resumeTextCont {
      padding-left: 2rem; } }
  @media screen and (max-width: 1000px) {
    .resumeTextCont {
      width: 100%;
      padding-left: 2rem;
      padding-right: 2rem; } }

.resumeTextP {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  line-height: 2.5rem; }
  @media screen and (max-width: 1300px) {
    .resumeTextP {
      font-size: 1rem;
      line-height: 2rem; } }

.resumeTextP:first-letter {
  font-size: 2rem; }
  @media screen and (max-width: 1300px) {
    .resumeTextP:first-letter {
      font-size: 1.5rem; } }

.arrowsCont {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  position: relative;
  width: 40%;
  padding-top: 5rem;
  font-size: clamp(1.5rem, 1.5vw, 2rem);
  font-weight: 200;
  background-image: url("../imgs/patterns/handwritten-pattern.png");
  background-repeat: repeat-y;
  background-size: 10rem;
  background-position: 8% 100%; }
  @media screen and (max-width: 1000px) {
    .arrowsCont {
      position: relative;
      width: 70%;
      height: 27rem;
      background-size: 8rem;
      padding-top: 3rem; } }
  @media screen and (max-width: 800px) {
    .arrowsCont {
      position: relative;
      width: 100%;
      height: 27rem;
      padding-left: 1rem; } }

.skillsArrowGen {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  height: 6.5rem;
  padding-left: 2rem;
  margin-bottom: 1.5rem;
  color: #ffffff;
  transition: all;
  transition-duration: 400ms;
  transition-timing-function: ease-in-out;
  transform: translateX(-2rem);
  opacity: 0;
  animation-name: arrowReveal;
  animation-timing-function: ease-in-out;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-delay: 500ms; }
  @media screen and (max-width: 800px) {
    .skillsArrowGen {
      padding-left: 1rem; } }

.eduArrow {
  animation-delay: 700ms; }

.expArrow {
  animation-delay: 900ms; }

@keyframes arrowReveal {
  to {
    transform: translateX(0);
    opacity: 1; } }
.skillsArrowGen a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center; }
  .skillsArrowGen a:hover .cls-1 {
    fill: #fd5949; }
  .skillsArrowGen a:hover #Layer_1 {
    width: 50%; }
  .skillsArrowGen a:hover #Layer_2 {
    width: 65%; }
  .skillsArrowGen a:hover #Layer_3 {
    width: 75%; }

.arrowSvg {
  position: absolute;
  left: 0;
  width: 40%;
  min-width: 15rem;
  height: 8rem;
  transition: all;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out; }

.cls-1 {
  transition: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  fill: #00D193; }

#Layer_2 {
  width: 50%;
  min-width: 18rem; }

#Layer_3 {
  width: 60%;
  min-width: 22rem; }

.skillsArrowGen h2 {
  font-weight: 700; }

.skillsArrowGen h2, .skillsArrowGen span {
  z-index: 2; }

.resumeSkillsSec {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #f9f9f9;
  padding-top: 10rem;
  padding-bottom: 2rem; }

.skillsTitleCont {
  position: relative;
  width: 100%;
  height: 4rem;
  padding-left: 6rem;
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 4rem;
  z-index: 2; }
  .skillsTitleCont::after {
    content: "";
    position: absolute;
    width: 5.5rem;
    height: 1rem;
    background-color: #00D193;
    bottom: 1.5rem;
    left: 6rem;
    z-index: -4; }
  @media screen and (max-width: 1200px) {
    .skillsTitleCont {
      padding-left: 2rem;
      font-size: 2rem;
      margin-bottom: 2rem; }
      .skillsTitleCont::after {
        bottom: 2rem;
        left: 2rem; } }
  @media screen and (max-width: 900px) {
    .skillsTitleCont {
      padding-left: 1rem; }
      .skillsTitleCont::after {
        left: 1.5rem; } }

.skillsContGen {
  width: 25rem;
  height: 45rem;
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(10, 1fr);
  transition: all;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  overflow-y: hidden;
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: bottom; }
  .skillsContGen:hover {
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 25px -7px; }
  .skillsContGen:hover .fa-tshirt-act {
    font-size: 1.5rem; }
  @media screen and (max-width: 1200px) {
    .skillsContGen {
      width: 20rem;
      height: 45rem; }
      .skillsContGen:hover .fa-tshirt-act {
        font-size: 1.2rem; } }
  @media screen and (max-width: 900px) {
    .skillsContGen {
      width: 40%;
      height: 40rem;
      grid-template-rows: repeat(9, 1fr); }
      .skillsContGen:hover {
        background-color: #ffffff;
        box-shadow: none; }
      .skillsContGen:hover .fa-tshirt-act {
        font-size: 1.2rem; } }
  @media screen and (max-width: 700px) {
    .skillsContGen {
      width: 100%;
      height: 40rem; } }

.skillsTitleGen {
  grid-column: 1/9;
  grid-template-rows: 1/3;
  font-weight: 700;
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  position: relative; }
  .skillsTitleGen::after {
    content: "";
    position: absolute;
    width: 12rem;
    height: 0.4rem;
    background-color: #00D193;
    bottom: 0;
    border-radius: 10px;
    transition: all;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out; }

.skillsSubTitleGen {
  grid-column: 2/5;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  font-size: 1rem;
  font-weight: 700; }

.rateGen {
  grid-column: 5/9;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center; }

.fa-file-code, .fa-video, .fa-edit {
  color: #00D193; }

.fa-tshirt {
  font-size: 1.2rem;
  color: #bdbdbd; }

.fa-tshirt-act {
  color: #00D193;
  transition: all;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out; }

.iconsContGen {
  grid-column: 2/8;
  grid-row: 7/9;
  padding: 2rem 3rem 1.5rem 3rem;
  background-color: white;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1rem 1rem; }
  @media screen and (max-width: 1200px) {
    .iconsContGen {
      padding: 2rem 2rem 1.5rem 2rem; } }
  @media screen and (max-width: 700px) {
    .iconsContGen {
      padding: 2rem 3rem 1.5rem 3rem; } }

.iconGen {
  background-size: contain;
  background-repeat: no-repeat; }

.developCont {
  transform: translateX(-15rem);
  opacity: 0;
  background-image: url("../imgs/patterns/circuit-lines-green-opacity.svg"); }
  .developCont:hover .developTitle::after {
    width: 70%; }

.developContAppear {
  animation-name: developContAppearAni;
  animation-duration: 600ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

@keyframes developContAppearAni {
  to {
    transform: translateX(0);
    opacity: 1; } }
.devIcon-one {
  background-image: url("../imgs/skillsappicons/dev/html-logo.jpg"); }

.devIcon-two {
  background-image: url("../imgs/skillsappicons/dev/css-logo.jpg"); }

.devIcon-three {
  background-image: url("../imgs/skillsappicons/dev/js-logo.jpg"); }

.devIcon-four {
  background-image: url("../imgs/skillsappicons/dev/react-logo.jpg"); }

.devIcon-five {
  background-image: url("../imgs/skillsappicons/dev/bootstrap-logo.jpg"); }

.devIcon-six {
  background-image: url("../imgs/skillsappicons/dev/xd-logo.jpg"); }

.devIcon-seven {
  background-image: url("../imgs/skillsappicons/dev/git-logo.jpg"); }

.devIcon-eight {
  background-image: url("../imgs/skillsappicons/dev/webstorm-logo.jpg"); }

.videoCont {
  box-shadow: rgba(0, 0, 0, 0.2) 0 20px 25px -7px;
  background-image: url("../imgs/patterns/circuit-lines-green-opacity.svg"); }
  .videoCont:hover .videoTitle::after {
    width: 70%; }
  @media screen and (max-width: 1450px) {
    .videoCont {
      box-shadow: none; } }

.vidIcon-one {
  background-image: url("../imgs/skillsappicons/vid/aftereffects-logo.jpg"); }

.vidIcon-two {
  background-image: url("../imgs/skillsappicons/vid/premiere-logo.jpg"); }

.vidIcon-three {
  background-image: url("../imgs/skillsappicons/vid/encoder-logo.jpg"); }

.vidIcon-four {
  background-image: url("../imgs/skillsappicons/vid/illustrator-logo.jpg"); }

.vidIcon-five {
  background-image: url("../imgs/skillsappicons/vid/audacity-logo.jpg"); }

.writingCont {
  transform: translateX(15rem);
  opacity: 0;
  background-image: url("../imgs/patterns/circuit-lines-green-opacity.svg"); }
  .writingCont:hover .writingTitle::after {
    width: 70%; }

.writingContAppear {
  animation-name: writingContAppearAni;
  animation-duration: 700ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

@keyframes writingContAppearAni {
  to {
    transform: translateX(0);
    opacity: 1; } }
.wriIcon-one {
  background-image: url("../imgs/skillsappicons/wri/wordpress-logo.jpg"); }

.wriIcon-two {
  background-image: url("../imgs/skillsappicons/wri/photoshop-logo.jpg"); }

.wriIcon-three {
  background-image: url("../imgs/skillsappicons/wri/trello-logo.jpg"); }

.wriIcon-four {
  background-image: url("../imgs/skillsappicons/wri/office-logo.jpg"); }

.wriIcon-five {
  background-image: url("../imgs/skillsappicons/wri/seo-logo.jpg"); }

.brandsMotherCont {
  position: absolute;
  width: 80%;
  height: 11rem;
  bottom: -8rem;
  transition: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  transform: scaleX(0) rotateZ(5deg);
  opacity: 0; }
  .brandsMotherCont:hover {
    width: 90%; }
  .brandsMotherCont:hover .brandsCont {
    background-color: #02eca6; }
  @media screen and (max-width: 1100px) {
    .brandsMotherCont {
      height: 9rem; } }

.brandsRevealer {
  animation-name: brandsRevealerAni;
  animation-duration: 400ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

@keyframes brandsRevealerAni {
  to {
    transform: scaleX(1) rotateZ(0deg);
    opacity: 1; } }
.brandsTitleCont {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 20px 20px;
  top: -3rem;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 700;
  font-size: 2rem;
  background-color: #f9f9f9;
  color: #00D193;
  padding: 1rem 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0 20px 8px -7px; }
  @media screen and (max-width: 700px) {
    .brandsTitleCont {
      font-size: 1.2rem;
      top: -2rem; } }

.brandsCont {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 2rem 0 1rem 0;
  background-color: #00D193;
  transition: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out; }

.brandsPic {
  width: 12%;
  max-width: 8rem;
  filter: saturate(0%);
  opacity: 0;
  transform: scale(0, 0);
  transition: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out; }
  .brandsPic:hover {
    filter: saturate(100%); }
  @media screen and (max-width: 800px) {
    .brandsPic {
      width: 15%; } }

.brandsPicRevealer {
  animation-name: brandsPicRevealerAni;
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

@keyframes brandsPicRevealerAni {
  to {
    transform: scale(0.8);
    opacity: 1; } }
.resumeEduSec {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-wrap: wrap;
  background-color: #ffffff;
  padding-top: 18rem;
  padding-bottom: 4rem; }
  @media screen and (max-width: 1200px) {
    .resumeEduSec {
      padding-top: 12rem; } }

.eduTitleCont {
  position: relative;
  width: 100%;
  height: 4rem;
  padding-left: 6rem;
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 4rem;
  z-index: 2; }
  .eduTitleCont::after {
    content: "";
    position: absolute;
    width: 5.5rem;
    height: 1rem;
    background-color: #00D193;
    bottom: 1.5rem;
    left: 6rem;
    z-index: -4; }
  @media screen and (max-width: 1200px) {
    .eduTitleCont {
      padding-left: 2rem;
      font-size: 2rem;
      margin-bottom: 2rem; }
      .eduTitleCont::after {
        bottom: 2rem;
        left: 2rem; } }
  @media screen and (max-width: 900px) {
    .eduTitleCont {
      padding-left: 1rem; }
      .eduTitleCont::after {
        left: 1.5rem; } }

.eduSubHeader {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  width: 35%;
  height: 3rem;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem; }
  @media screen and (max-width: 1200px) {
    .eduSubHeader {
      font-size: 1.5rem;
      margin-right: 1rem;
      margin-left: 1rem; } }

.eduColumn {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 45%;
  height: 20rem;
  padding-left: 2rem;
  padding-top: 4rem;
  border-left: 8px solid #00D193; }
  @media screen and (max-width: 1100px) {
    .eduColumn {
      padding-left: 1rem; } }

.normEduColumn {
  width: 35%;
  height: 25rem;
  margin-left: 14vw;
  margin-right: 2rem; }
  @media screen and (max-width: 1100px) {
    .normEduColumn {
      margin-left: 6vw; } }

.EduTitleContGen {
  position: relative;
  height: 4rem;
  margin-bottom: 2rem;
  opacity: 0;
  transform: translateY(-2rem); }
  .EduTitleContGen::before {
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: #f9f9f9;
    border: 8px solid #00D193;
    border-radius: 50%;
    left: -3.2rem;
    top: 0; }
  .EduTitleContGen:hover::before {
    background-color: #fd5949; }
  @media screen and (max-width: 1100px) {
    .EduTitleContGen::before {
      content: "";
      position: absolute;
      width: 0.7rem;
      height: 0.7rem;
      border: 7px solid #00D193;
      border-radius: 50%;
      left: -2rem;
      top: -.2rem; } }

.EduTitleContGenRevealer {
  animation-name: EduTitleContGenRevealerAni;
  animation-duration: 500ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards; }

@keyframes EduTitleContGenRevealerAni {
  to {
    opacity: 1;
    transform: translateY(0); } }
.superEduTitleThreeCont::before {
  background-color: #EE5F4D;
  border: 8px solid #00D193; }

.eduTitleGen {
  font-size: 1.5rem;
  margin-bottom: 1rem; }
  @media screen and (max-width: 1100px) {
    .eduTitleGen {
      font-size: 1rem;
      font-weight: 700;
      margin-bottom: .8rem; } }

.resumeExpSec {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #f9f9f9;
  padding-top: 10rem;
  padding-bottom: 1rem;
  background-image: url("../imgs/patterns/abstractlines-horizon-subtle.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  @media screen and (max-width: 1300px) {
    .resumeExpSec {
      padding-top: 6rem; } }

.expTitleCont {
  position: relative;
  width: 100%;
  height: 4rem;
  padding-left: 6rem;
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 4rem;
  z-index: 2; }
  .expTitleCont::after {
    content: "";
    position: absolute;
    width: 5.5rem;
    height: 1rem;
    background-color: #00D193;
    bottom: 1.5rem;
    left: 6rem;
    z-index: -4; }
  @media screen and (max-width: 1200px) {
    .expTitleCont {
      padding-left: 2rem;
      font-size: 2rem;
      margin-bottom: 2rem; }
      .expTitleCont::after {
        bottom: 2rem;
        left: 2rem; } }
  @media screen and (max-width: 900px) {
    .expTitleCont {
      padding-left: 1rem; }
      .expTitleCont::after {
        left: 1.5rem; } }

.expCont {
  position: relative;
  width: 27%;
  background-color: #ffffff;
  padding: 1.5rem 2rem 2rem 2rem;
  border-radius: 10px;
  margin: 1rem 1rem;
  min-width: 20rem;
  opacity: 0;
  transform: scale(0, 0);
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  transition: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out; }
  .expCont:hover {
    box-shadow: none; }
    .expCont:hover:hover .expText {
      transform: translateX(1rem); }

.expContRevealer {
  animation-name: expContRevealerAni;
  animation-duration: 400ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

@keyframes expContRevealerAni {
  to {
    transform: scale(1, 1);
    opacity: 1; } }
.expTitle {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
  color: #00D193; }
  @media screen and (max-width: 1200px) {
    .expTitle {
      font-size: 1.5rem;
      margin-bottom: 1rem; } }

.expRole {
  font-size: 1.5rem;
  margin-bottom: 2rem; }
  @media screen and (max-width: 1200px) {
    .expRole {
      font-size: 1rem;
      margin-bottom: 1.5rem; } }

.expText {
  font-size: 1rem;
  margin-bottom: 2rem;
  line-height: 2rem;
  transition: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out; }
  .expText .hashtags {
    color: #00D193; }

.expDate {
  position: absolute;
  width: 100%;
  right: 2rem;
  bottom: 1.5rem;
  font-weight: 700;
  font-size: 1rem;
  text-align: right; }

.employersMotherCont {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 4rem;
  margin-top: 8rem; }
  @media screen and (max-width: 1000px) {
    .employersMotherCont {
      margin-top: 5rem;
      padding: 0 1rem; } }

.employersCard {
  position: relative;
  width: 25%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 10px;
  margin: 0 2rem 5rem 2rem;
  padding-bottom: 3rem;
  transform: translateX(4rem);
  opacity: 0;
  transition: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out; }
  .employersCard:hover {
    box-shadow: none; }
  .employersCard:hover .employerText {
    transform: translateX(1rem); }
  .employersCard:hover .employerImage {
    width: 8.5rem;
    height: 8.5rem;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.4));
    transform: rotateZ(360deg); }
  @media screen and (max-width: 1300px) {
    .employersCard {
      width: 40%;
      margin: 0 1rem 5rem 1rem; } }
  @media screen and (max-width: 800px) {
    .employersCard {
      width: 90%; } }

.employersRevealer {
  animation-name: employersRevealerAni;
  animation-duration: 600ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards; }

@keyframes employersRevealerAni {
  to {
    transform: translateX(0);
    opacity: 1; } }
.employerImage {
  position: absolute;
  width: 9rem;
  height: 9rem;
  left: 50%;
  transform: translateX(-50%);
  top: -5rem;
  border-radius: 50%;
  background-color: #ffffff;
  border: 8px solid #00D193;
  transition: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out; }
  @media screen and (max-width: 1300px) {
    .employerImage {
      position: absolute;
      width: 8rem;
      height: 8rem;
      top: -4rem; } }

.greenRect {
  width: 100%;
  height: 5rem;
  border-radius: 10px 10px 0 0;
  background-color: #00D193; }

.employerName {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
  padding: 0 1.5rem; }
  @media screen and (max-width: 1200px) {
    .employerName {
      font-size: 1rem; } }

.employerJob {
  font-size: 1rem;
  margin-bottom: 2rem;
  padding: 0 1.5rem; }

.employerText {
  font-size: 1rem;
  padding: 0 1.5rem;
  line-height: 2rem;
  transition: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out; }

footer {
  position: relative;
  width: 100%;
  height: 8rem;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  background: #232526;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to left, #414345, #232526);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to left, #414345, #232526);
  overflow: hidden; }

.socialsCont {
  position: absolute;
  width: 30%;
  height: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  min-width: 30rem;
  left: 2rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px, rgba(0, 0, 0, 0.3) 0 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; }

.socialIconsCont {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 4rem 0;
  /*background-color: yellow;*/ }

.socialwrapper {
  width: 3rem;
  border-radius: 40%;
  background-color: #414345;
  transition: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out; }
  .socialwrapper:hover {
    transform: rotateZ(180deg); }

.socialIcon {
  width: 3rem;
  height: 3rem;
  border-radius: 40%;
  /*background-color: #414345;*/
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  filter: saturate(0%);
  transition: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out; }
  .socialIcon:hover {
    background-size: 60%;
    filter: saturate(100%);
    transform: rotateZ(180deg); }

.linkedinIcon {
  background-image: url("../imgs/linkedinicon.svg"); }
  .linkedinIcon:hover {
    background-color: #0072b1; }

.githubIcon {
  background-image: url("../imgs/githubicon.svg"); }
  .githubIcon:hover {
    background-color: #171515; }

.telegramIcon {
  background-image: url("../imgs/telegram.png");
  /*background-size: 60%;*/ }
  .telegramIcon:hover {
    background-color: #0088CC; }

.instagramIcon {
  background-image: url("../imgs/instagramicon.svg");
  background-size: 60%; }
  .instagramIcon:hover .instagramGradiant {
    opacity: 1; }

.instagramGradiant {
  width: 100%;
  height: 100%;
  border-radius: 40%;
  background: center center/70% no-repeat url("../imgs/instagramicon.svg"), center/cover no-repeat radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  opacity: 0;
  transition: all;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out; }

.youtubeIcon {
  background-image: url("../imgs/youtubeicon.svg"); }
  .youtubeIcon:hover {
    background-color: #FF0000; }

.yahooIcon {
  background-image: url("../imgs/yahooicon.svg"); }
  .yahooIcon:hover {
    background-color: #430297; }

.logoCont {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  color: #ffffff; }
  .logoCont:hover .logoToolTip {
    bottom: 2.5rem; }

.logoToolTip {
  position: absolute;
  width: 18rem;
  height: 2.5rem;
  left: -18.5rem;
  bottom: -10rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border-radius: .5rem;
  color: #ffffff;
  background-color: #313334;
  transition: all;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out; }
  .logoToolTip::after {
    position: absolute;
    width: 2rem;
    height: 2rem;
    box-sizing: border-box;
    content: "";
    right: -1.5rem;
    bottom: .25rem;
    border: 1rem solid transparent;
    border-left: 1rem solid #313334;
    /*background-color: $coolGreen;*/ }

.logoSubText {
  position: relative;
  padding-left: 8px;
  font-size: 15px;
  /*background-color: blue;*/ }
  .logoSubText::after {
    position: absolute;
    width: 50px;
    height: 5px;
    content: "";
    right: -55px;
    bottom: 4px;
    background-color: #00D193; }

/*# sourceMappingURL=resume.css.map */
