/*    ---  Content Tables
    ---    1.imports & PreloadAni             ---
    ---    2.Body                             ---
    ---    3.Aside                            ---
    ---     3.1.TopSquare                     ---
    ---     3.2.MidSquare & HeroPic           ---
    ---     3.3.BottomSquare                  ---
    ---    4.Main                             ---
    ---      4.1.TopMenu & LangSelector       ---
    ---      4.2.FullName                     ---
    ---    5.NameConts                        ---
    ---    6.ShortBio                         ---
    ---    7.Socials                          ---
    ---    8.Logo & Logo ToolTip              ---
    ---    9.MediaQueries                     --- */

@import "configs";
@import "mobileComponents";

@include preloadeAnimation;

body{
  @include advancedPosition(null,null,100vh);
  min-height: 780px;
  background: #232526;  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to left, #414345, #232526);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to left, #414345, #232526);
  overflow-x: hidden;
  font-family: $mainFont;
  color: #ffffff;
}

.bodyCont{
  @include advancedPosition(relative,100%,100%);
  @include advancedFlex(column,null,null);
  padding-top: 2rem;
  overflow: hidden;
  //background-color: coral;
}

@include hamberMixin;
@include topMenuMobile;
@include langSelectorMobile;

.resumeBtnCont{
  pointer-events: none;
  cursor: default;
  color: $accentColor;
}

.mainCont{
  @include advancedPosition(null,90%,85%);
  @include advancedFlex(column,null,center);
  justify-self: center;
  align-self: center;
  margin: 3rem 0 0 0;
  background-color: #ffffff;
  border-radius: 20px;
}

.socialsCont{
  @include advancedPosition(null,100%,8%);
  @include advancedFlex(row,center,center);
  background-color: $accentColor;
  border-radius:0 0 20px 20px;
}

.socialIconsCont{
  @include advancedPosition(null,100%,100%);
  @include advancedFlex(row,space-evenly,center);
  padding: 4rem 0;
  /*background-color: yellow;*/
}

.socialwrapper{
  @include advancedPosition(null,2rem,2rem);
  border-radius: 40%;
  background-color: #414345;
  @include easeTrans(500ms);
  &:hover{
    transform: rotateZ(180deg);
  }
}

.socialIcon{
  @include advancedPosition(null,2rem,2rem);
  border-radius: 40%;
  /*background-color: #414345;*/
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  filter: saturate(0%);
  @include easeTrans(500ms);
  &:hover{
    background-size: 60%;
    filter: saturate(100%);
    transform: rotateZ(180deg);
  }
}

.linkedinIcon{
  background-image: url("../imgs/linkedinicon.svg");
  &:hover{
    background-color:  #0072b1;
  }
}

.githubIcon{
  background-image: url("../imgs/githubicon.svg");
  &:hover{
    background-color: #171515;
  }
}

.telegramIcon{
  background-image: url("../imgs/telegram.png");
  /*background-size: 60%;*/
  &:hover{
    background-color: #0088CC;
  }
}

.instagramIcon{
  background-image: url("../imgs/instagramicon.svg");
  background-size: 60%;
  &:hover .instagramGradiant{
    opacity: 1;
  }
}

.instagramGradiant{
  @include advancedPosition(null,100%,100%);
  border-radius: 40%;
  background:
          center center/70% no-repeat
          url("../imgs/instagramicon.svg"),
          center/cover no-repeat
          radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  opacity: 0;
  @include easeTrans(500ms);
}

.youtubeIcon{
  background-image: url("../imgs/youtubeicon.svg");
  &:hover{
    background-color: #FF0000;
  }
}

.yahooIcon{
  background-image: url("../imgs/yahooicon.svg");
  &:hover{
    background-color: #430297;
  }
}

footer{
  @include advancedPosition(absolute,null,7%);
  bottom: 0;
  right: 0;
  padding-right: 20px;
  @include advancedFlex(column,center,flex-end);
  //background-color: olivedrab;
}

.logoCont{
  @include advancedPosition(relative,null,100%);
  @include advancedFlex(column,center,center);
  /*background-color: #EE5F4D;*/
}

.logoToolTip{display: none;opacity: 0;}

.logoSubText{
  @include advancedPosition(relative,null,null);
  padding-left: 8px;
  font-size: 10px;
  /*background-color: blue;*/
  &::after{
    @include advancedPosition(absolute,50px,5px);
    content: "";
    right: -55px;
    bottom: 3px;
    background-color: $accentColor;
  }
}